{
    order webdav last
}
:6080 {
    log
    root * /data
    reverse_proxy igraph_network_expansion_app_1:6080

    handle_path /files/* {
        file_server browse
    }
    redir /files /files/

    handle /webdav/* {
        webdav {
            prefix /webdav
        }
    }
    redir /webdav /webdav/

    basicauth /* {
        {env.APP_USERNAME} {env.APP_PASSWORD_HASH}
    }
}
